<footer>
    <nav>
    <a href="https://github.com/jmoncri1">Github</a> 
    | <a href="https://jmoncri1.github.io/">github.io</a> 
    | <a href="https://www.freecodecamp.org/Jazmarie"> FreeCodeCamp</a> 
    | <a href="https://www.codecademy.com/profiles/JazmarieM"> Codecademy</a> 
    | <a href ="https://www.linkedin.com/in/jazmarie-moncrieft-b1543a1a6/">LinkedIn</a>
    </nav>
    <p>By Moncrieft Developments copyright 2022</p>
    
    <a href="https://validator.w3.org/check?uri=referer" id="validation_link_html">
      <img src="images/button_validation_html5.png" width="88" height="31" alt="Validate webpage HTML." />
  </a>
     <a href="http://jigsaw.w3.org/css-validator/check/referer" id = "validation_link_css">
         <img src="images/button_validation_css.png" width="88" height="31" alt="Valid CSS!" />
            </a>
        
  </nav>
  <script>
    document.getElementById("validation_link_html").setAttribute("href", "https://validator.w3.org/check?uri=" + location.href);
    document.getElementById("validation_link_css").setAttribute("href", "https://jigsaw.w3.org/css-validator/validator?uri=" + location.href);
  </script>
  
  </footer>