body {
    background-image: url("images/flower_background.png");
    background-color: rgba(127, 180, 205, 0.732);
    fill-opacity: 100%;
    font-family: sans-serif;
    font-size: 150%; 
    margin-left: 10%;
    margin-right: 10%;
    padding-top: 5%;
    padding-bottom: 5%;
    padding-left: 5%;
    padding-right: 5%;
    border-color: darksalmon;
   
}
p, h1, ul, figcaption, h2 {
    color:brown;
}

}

main {
    margin-left: 5%;
    margin-right: 5%;
    margin-top: 5%;
    margin-bottom: 5%;
    
}
h1, h2, team-list, #selfie, header, footer{
    text-align: center;
    }
figure img{
    text-align: center;
    height: 200px;
    width: 200px;
}

a { text-decoration: none; 
    color: maroon;
}
table, th, td, tr{
    border: 1px solid black;
}

